In [16]:
import pandas as pd
train = pd.read_csv(r"C:\Users\student\Documents\fileport_2024-03-15_Folder\train.csv", parse_dates=['Date'])
features = pd.read_csv(r"C:\Users\student\Documents\fileport_2024-03-15_Folder\features.csv", parse_dates=['Date'])
stores = pd.read_csv(r"C:\Users\student\Documents\fileport_2024-03-15_Folder\stores.csv")

In [17]:
train_stores = pd.merge(left=train, right=stores, how='left', on='Store')

In [18]:
df = pd.merge(left=train_stores, right=features, how='left', on=['Store','Date','IsHoliday'])

In [19]:
print(f"Total number of rows--> {df.shape[0]}")
print(f"Total number of columns--> {df.shape[1]}")

Total number of rows--> 421570
Total number of columns--> 16

In [35]:
df.Store.unique().size

45

In [31]:
df.Dept.unique().size

81

In [26]:
df.head();

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [32]:
df.Dept

0          1
1          1
2          1
3          1
4          1
          ..
421565    98
421566    98
421567    98
421568    98
421569    98
Name: Dept, Length: 421570, dtype: int64